.h-10 {
    height: 100px;
}

.h-30 {
    height: 300px;
}

.bg-0 {
    background-color: aqua;
    border: solid 1px black;
}

.bg-1 {
    background-color: blue;
    border: solid 1px black;
}

.bg-2 {
    border: solid 1px black;
    background-color: yellow;
}

.bg-3 {
    border: solid 1px black;
    background-color: green;
}

.bg-4 {
    border: solid 1px black;
    background-color: red;
}